.intrestContent{
  display: flex;
  padding: 10% 15% 10% 15%;

}

.intrestContent h1{
  font-size: 2.5vw;
  flex-grow: 2;
  align-self: center;
}

.intrestContent a{
  flex-grow: 1;
}

.intrestContent button{
  background-color: white;
  padding: 10% 15%;
  margin: 0%;
  font-size: 1.5vw;
}

.intrestContent button:hover{
  background-color: #33323d;
  color:white;
}
@media (min-width:768px) and (max-width:1024px){
  .intrestContent h1{
    font-size: 3vw;
  }

  .intrestContent button{
    font-size: 1.8vw;
  }
}

@media (max-width:500px){
  .intrestContent{
    flex-direction: column;
  }
  .intrestContent h1{
    font-size: 9vw;
    align-self: center;
    text-align: center;
    margin-top: 10%;
  }

  .intrestContent button{
    font-size: 5vw;
    padding: 5% 10%;
    margin: 15% 20%;
    background-color: #203a4c;
    color: white;
    border:none;
  }
}