.Contact{
  display: flex;
  padding: 3% 10%;
}

.ContactTitle{
  flex-basis: 50%;
}

.ContactText{
  flex-basis:50%;
}

.ContactIcons{
  padding: 5% 0%;
  display: flex;
}

.ContactGit{
  padding: 0 5% 0 0;
}

.ContactLinked{
  padding: 0 5% 0 0;
}

.hrTag{
  bottom: 45%;
}