.footerContent{
  background-color: #33323d;

}

.footerContent ul{
  padding: 1%;
  margin: 0%;
}

.footerContent li{
  list-style-type: none;
  padding:0% 1% 0 1%;
  margin-left: 4%;
  display: inline;
  color: white;
  font-size: 1.5vw;
}

.footerLogo{
  display: inline;
}

.ul2{
  display: inline;
}

.gitHub{
  display: inline;
  padding-left: 30%;
}

.linkedIn{
  display: inline;
}

.footerContent a{
  text-decoration: none;
}

@media (max-width:500px){
  .footerContent li{
    padding-top: 5%;
    padding-left: 0%;
    padding-bottom: 5%;
    margin: 0%;
    display: block;
    font-size: 9vw;
    text-align: center;
  }

  .ul2{
    display: flex;
    justify-content: space-evenly;
  }

  .gitHub{
    padding: 0%;
  }

  .gitHub img{
    width: 200%;
    padding-top: 10%;
    display: inline-block;
  }
  .linkedIn img{
    padding-top: 10%;
    width: 200%;
    
  }
}

@media (min-width:768px) and (max-width:1024px){
  .footerContent li{
    font-size: 4vw;
  }

  .gitHub{
    padding-left: 5%;
  }

  .gitHub img{
    width: 4%;
  }
  .linkedIn img{
    width: 4%;
  }
}