.MonsterPreview{
    display: flex;
    padding: 3% 8% 0 8%;
    justify-content: space-evenly;
  }
  
  .MonsterMobile{
    display: none;
  }
  
  .MonsterPreview img{
    height: 100%;
    width: 40%;
    align-self: center;
    padding-right: 5%;
  }
  
  .MonsterDesc{
   padding: 0 10% 0 0%;
   font-size: 1.3vw;
  }
  
  .MonsterDesc h1{
    font-size: 3vw;
  }
  
  .MonsterDesc hr{
    margin: 10% 0%;
  }
  
  .MonsterPreview button{
    background-color: white;
    padding: 2% 10%;
    margin-top: 5%;
    font-size: 1.1vw;
  }
  
  .MonsterPreview button:hover{
    background-color: #33323d;
    color: white;
  }
  
  @media (max-width:500px){
    .MonsterPreview{
      flex-direction: column;
    }
  
    .MonsterImg{
      display: none;
    }
  
    .MonsterMobile{
      display: flex;
    }
  
    .MonsterPreview img{
      width: 90%;
    }
  
    .MonsterDesc{
      padding:0% 5%;
      font-size: 5vw;
    }
  
    .MonsterDesc h1{
      font-size: 10vw;
    }
  
    .MonsterPreview button{
      font-size: 4vw;
      background-color: #203a4c;
      color: white;
      border: none;
    }
  
  }
  
  @media (min-width:768px) and (max-width:1024px){
    .MonsterPreview img{
      width: 50%;
    }
  
    .MonsterDesc{
      padding:0% 5% 0 0;
      font-size: 2.5vw;
    }
  
    .MonsterDesc h1{
      font-size: 5vw;
    }
  
    .MonsterPreview button{
      font-size: 2vw;
    }
  }