.headerContent{
  display:flex;
  position: relative;
  padding: 0 5%;
}
.header{
  display: flex;
  width: 100%;
  height: 100vh;
}

.text-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 2.6vw;
  height: 50%;
  width: 35%;
  bottom: 0;
}

.introText{
  height: fit-content;
  width: fit-content;
}

.aboutMeBtn{
  display: flex;
  width:50%;
  font-size: 1vw;
  border: none;
  background-color: #203a4c;
  padding-top:3%;
  padding-bottom: 3%;
  
}

.aboutText{
  flex-grow: 3;
  color: white;
}

.svg{
  flex-grow: 1;
}

@media (min-width:768px) and (max-width:1024px){
  .header{
    height:40vh;
  }
}

@media (max-width:500px){
 .text-box{
   position: relative;
 }

 .headerContent{
   flex-direction: column;
   padding: 0 5%;
   align-items: center;
 }

 .header{
   height: 35vh;
 }

 .text-box{
  font-size: 10vw;
  width: 100%;
  padding: 10% 5% 0 5%;
}

.aboutMeBtn{
  font-size: 5vw;
  padding-top:3% 0;
  margin: 5% 0 0 0;

  
}

}
