.container{
  display:flex;
  position: relative;
  
}
.header{
  width: 100%;
  display: flex;
}

.text-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 3vw;
  height: 60%;
  width: 40%;
  bottom: 0;
}

.introText{
  height: fit-content;
  width: fit-content;

}

.aboutMeBtn{
  display: flex;
  width:50%;
  font-size: 1vw;
  border: none;
  background-color: #203a4c;
  padding-top:3%;
  padding-bottom: 3%;
  
}

.aboutText{
  flex-grow: 3;
  color: white;
}

.svg{
  flex-grow: 1;
}

